* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main-heading {
  font-size: 300%;
  font-weight: 500;
  position: absolute;
  top: 100px;
  left: 80px;
}
.main {
  display: block;
  max-width: 100%;
  position: absolute;
  right: 0px;
}
.hero-img-wrapper {
  max-width: 555px;
}
.hero-img {
  max-width: 95%;
  padding-right: 0;
  margin: 100px 0 0 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

img {
  border: 0;
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
}
.hero-btn {
  position: absolute;
  top: 40%;
  left: 5%;
}

@media screen and (max-width: 550px) {
  .main-heading {
    font-size: 250%;
  }
}

.header-2 h1 {
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 5%;
  font-weight: 300;
}
.hero-img-2 {
  max-width: 75%;
  width: 800px;
  padding-right: 0;
  margin: 100px 0 0 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
