* {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  /* filter: invert(1) hue-rotate(180deg); */
  /* padding: 2px; */
}
.main-dash {
  background-color: #f39c9c;
  height: 100vh;
  text-decoration: none;
}

.background-gradient {
  /* background-image: linear-gradient(to top, #cfc9df 0%, #e2ebf0 100%); */
  /* background: linear-gradient(to bottom, #000000 10%, #434343 100%); */
  background-color: #f3f4f5;
  height: 100vh;
}

.header-2 {
  margin-top: 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
  transform: translate(0, -40px);
  position: relative;
}

.router {
  color: #ff0266;
  text-emphasis: none;
  text-decoration: none;
  border-bottom: none;
}
ul {
  display: inline-block;
  /* color: #ff7597; */
  /* color: #bdbdbd; */
}

li {
  float: left;
  margin-right: 40px;
  list-style: none;
  margin-bottom: 0;
  border-bottom: 2px solid transparent;
  padding: 0;
}
.router-list li:hover {
  border-bottom: 2px solid #000;
  transition: all 0.3s ease-out;
}
.navbar {
  margin-bottom: 0px;
  /* background-color: #242424; */
  margin-top: 0px;
  margin-bottom: 20px;
}

.task-input {
  height: 150%;
  width: 100%;
}
