name: deploy backend

on:
  push:
    branches: [master]

defaults:
  run:
    working-directory: backend/functions

jobs:
  pull_req_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci 
      - uses: w9jds/firebase-action@master
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}  
          PROJECT_PATH: ./backend